.content {
    width: 100%;

}

.detail-container {
    margin: 20px auto;
    padding: 20px;
    width: 70%;

}

.detail-header {
    color: #007bff;
    font-size: 14px;
}

.product-detail {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.product-img {
    width: 200%;
    height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.product-name,
.product-price,
.seaon {
    display: flex;
    flex-direction: column;
}

.season-select {
    gap: 10px;
}

.product-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.product-description textarea {
    width: 50%;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
}

.delete-form__button {
    text-align: right;
}